


.component-customershow table{
  width: 900px;
    height: 100px;
text-align: center;
    color: black;
    border-collapse: collapse;
}
.component-customershow table th{
  background-color: white;
}
.component-customershow table td{
  background-color: white;
}