.component-customer-pending-bookings me{
    position: relative;
    width: 1200px;
    height: 60px;
}
.component-customer-pending-bookings table{
    width: 900px;
    height: 100px;
text-align: center;
color: rgb(4, 0, 255);

}
.component-customer-pending-bookings table td{
    background-color: darkgrey;
}
.component-customer-pending-bookings table th{
    background-color: darkgrey;
}