.component-customer-bookings me{
    position: relative;
    width: 1200px;
    height: 60px;  
    
}
.component-customer-bookings table{
    width: 900px;
    height: 150px;
    text-align: center;
    color: black;
    border-collapse: collapse;
}
.component-customer-bookings table td{
    background-color: white;
}
.component-customer-bookings table th{
    background-color: white;
}