.component-roomshow table{

    width: 700px;
    height: 125px;
    text-align: center;
    color: black;
    border-collapse: collapse;
}
.component-roomshow table th{
    background-color: white;
}
.component-roomshow table td{
    background-color: white;
}