.component{
    text-decoration: none; 
    font-size: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.component > h1{
    color: #fff;
    text-shadow: 0 0 3px #260d0d;
    font-size: 70px;
}
 
.component > p{
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 0 3px  #260d0d;
    margin-top: 12px;
}
  
.btns > button{
    border-color: none;
    width: 175px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 10px;
    color: #c68c53;
    background-color: white;
}

.btn1{
    background-color: transparent;
    color: black;
    text-decoration: none;
}

.btn2{
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: none;
}