.form{
    width: 350px;
    height: 400px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(2px);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 50px 55px;
}

.input-container label{
    position:absolute;
    margin: 0%;
    padding: 0%;
    color: #4d3319;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.input-container input{
    width: 250px;
    margin-bottom: 5px;
    margin-top: 20px;

}

.input-container input{
    border: none;
    border-bottom: 2px solid #4d3319;
    background: transparent;
    outline:none;
    text-align: left;
    height: 40px;
    color: #000;
    font-size: 15px;
}

.button-container > button{
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    width: 150px;
    height: 35px;
    background: #c68c53;
    border-color: #000;
    text-emphasis-color: #fff;
    text-align: center;
}
.button-container > button:hover{
    cursor: pointer;
    background: #000;
    color: #fff;
}
.form a{
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color:#4d3319; 
}
.form a:hover{
    color: black;
}
    
::placeholder{
    color: black;
}
