.component-admin-bookings me{
    position: relative;
    width: 1200px;
    height: 60px;  
}
.component-admin-bookings table{
    width: 900px;
    height: 100px;
text-align: center;
color: rgb(4, 0, 255);
}
.component-admin-bookings table td{
    background-color: darkgrey;
}
.component-admin-bookings table th{
    background-color: darkgrey;
}