
.component-menushow me{
    position: relative;
    width: 1200px;
    height: 100px;
    
}
.component-menushow table{

    width: 700px;
    height: 200px;
    text-align: center;
    color: black;
    border-collapse: collapse;
}
.component-menushow table th{
    background-color: white;
}
.component-menushow table td{
    background-color: white;
}

.order_btn{
    margin-top: 30px;
    width: 125px;
    height: 45px;
    border-radius: 5px; 
    background-color: #c68c53;  
}

