.component-customer-wallet table{
    width: 900px;
    height: 100px;
    text-align: center;
    color: black;
    border-collapse: collapse;
       
}
.component-customer-wallet table th{
    background-color: white;
   
}
.component-customer-wallet table td{
    background-color: white;
}