.component-bookingaccept-o-rreject me{
    position: relative;
    width: 1200px;
    height: 60px;
}
.component-bookingaccept-o-rreject{
    table{
        width: 300px;
        height: 100px;
    text-align: center;
    color: rgb(4, 0, 255);
    
    
    
        button {
            font-size: 15px;
            padding: 1px 20px;
            margin: 8px 0;
            
            color: rgb(4, 0, 255);
            text-align: start;
            font-style: italic;
          }
        }
}

.component-bookingaccept-o-rreject table th{
    background-color: darkgrey;
}
.component-bookingaccept-o-rreject table td{
    background-color: darkgrey;
}